h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;

}
h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
 }   
h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;

}
p
{
    text-align: center;
    background-color:beige;
    font-size: 120%;
    
}
header img{
    vertical-align: middle;
}
nav{
    position: absolute; /*comentario*/
    left: 0; /*comentario*/
    width: 100%; /*comentario*/
    background: url(lol.jpg);
    background-color: black;

}
nav ul{
    margin: 0 auto;
    width: 1000px;
    list-style: none;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    margin-right: 50px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: black
}
nav ul li a:hover{
    color: white;
}
nav ul li.selected a
{
    color: white;   
}